.empty-cell {
	width: 40px;
	height: 40px;
	background-color: darkgray;
	border: 2px solid black;
}

.empty-cell:hover {
	background-color: lightseagreen;
	opacity: 0.5;
}

.battleship-cell {
	width: 40px;
	height: 40px;
	background-color: lightseagreen;
	border: 2px solid black;
}
